html, body, div, span,
h1, p, ul, li {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  color : rgb(61, 38, 114);
}

body {
  background: #f1f1f1;
  font-size: 16px;
  line-height: 22px;
  color: #404040;
  font-family: 'Lucida Grande', Verdana, sans-serif;
}

ol, ul {
  list-style: none;
}

.btn {
  background: lightseagreen;
  color: #fff;
  padding: 3px 10px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
}
.btn-all {
  background: rgb(73, 52, 192);
  color: #fff;
  padding: 3px 10px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  line-height: 30px;
  cursor: pointer;


}

.btn:hover {
  background: rgb(107, 12, 151);
  transform: rotate(-8deg);
}

.btn-red {
  background: rgb(209, 97, 32);
}

.btn-red:hover {
  background: rgb(243, 35, 35);
}

.app-title {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.8px;
}
